#  Pre-entrega

**Nombre del alumno:** QUINTEROS, Raul Daniel

## З Etapa 1: Recopilaci贸n y Preparaci贸n de Datos
**Objetivo:** Demostrar habilidades en Python, familiaridad con el entorno de trabajo y conocimientos b谩sicos sobre manipulaci贸n de datos.

### 1. Crear un documento en google colab y cargar los set de datos como dataframe

In [ ]:
#Inicio importando las librerias base para trabajar
import pandas as pd
import numpy as np

#Realizo la conexion a la cuenta GDrive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
#Accedo a la carpeta donde estan los set de datos
import os
os.listdir("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets")
#ACA CAMBIO CON LA RUTA GENERICA, YO UTILICE LA MIA PERSONALIZADA EN MI TRABAJO
#os.listdir("/content/drive/MyDrive/datasets")

['clientes.csv',
 'marketing.csv',
 'ventas.csv',
 'clientes_normalizado.csv',
 'marketing_normalizado.csv',
 'ventas_normalizado.csv']

In [ ]:
#Empiezo a cargar los sets de datos
df_clientes = pd.read_csv("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets/clientes.csv")
df_marketing = pd.read_csv("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets/marketing.csv")
df_ventas = pd.read_csv("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets/ventas.csv")
#ACA CAMBIO CON LA RUTA GENERICA, YO UTILICE LA MIA PERSONALIZADA EN MI TRABAJO
#df_clientes = pd.read_csv("/content/drive/MyDrive/datasets/clientes.csv")
#df_marketing = pd.read_csv("/content/drive/MyDrive/datasets/marketing.csv")
#df_ventas = pd.read_csv("/content/drive/MyDrive/datasets/ventas.csv")
#Verifico que se haya cargado correctamente con el metodo head
display(df_clientes.head(3))
display(df_marketing.head(3))
display(df_ventas.head(3))

   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85

   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  L谩mpara de mesa  Email   5.54   28/03/2024  20/04/2024

,id_venta,producto,precio,cantidad,fecha_venta,categoria
0,792,Cuadro decorativo,$69.94,5.0,02/01/2024,Decoraci贸n
1,811,L谩mpara de mesa,$105.10,5.0,02/01/2024,Decoraci贸n
2,1156,Secadora,$97.96,3.0,02/01/2024,Electrodom茅sticos

### 2. Realizar un script basico que calcule las ventas mensuales utilizando variables y operadores

In [ ]:
# Intentar Verlo Despues

### 3. Desarrollar un programa que almacene los datos de ventas

In [ ]:
# Intentar Verlo Despues

### 4. Realizar un analisis exploratorio inicial de los DataFrame

In [ ]:
#Muestro informacion de los datasets iniciales
print("Analisis Exploratorio > DataFrame Clientes")
print("\nPrimeras Filas:")
print(df_clientes.head(3))
print("\nUltimas Filas:")
print(df_clientes.tail(3))
print("\nDimensiones (Filas y Columnas):", df_clientes.shape)
print("\nInformacion del DataFrame:")
print(df_clientes.info())
print("\nEstadistica Descriptiva del DataFrame:")
print(df_clientes.describe())
print("\nTipos de Datos:")
print(df_clientes.dtypes)

Analisis Exploratorio > DataFrame Clientes

Primeras Filas:
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85

Ultimas Filas:
     id_cliente           nombre  edad       ciudad  ingresos
564         565  Jewelle Mabbett    33      C贸rdoba  30522.64
565         566      Lauri Munns    23  Resistencia  31259.14
566         567      Micah Matis    31   Corrientes  42927.86

Dimensiones (Filas y Columnas): (567, 5)

Informacion del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None

Estadistica Descriptiva del DataFrame:
       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000

Tipos de Datos:
id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object

In [ ]:
#Muestro informacion de los datasets iniciales
print("Analisis Exploratorio > DataFrame Marketing")
print("\nPrimeras Filas:")
print(df_marketing.head(3))
print("\nUltimas Filas:")
print(df_marketing.tail(3))
print("\nDimensiones (Filas y Columnas):", df_marketing.shape)
print("\nInformacion del DataFrame:")
print(df_marketing.info())
print("\nEstadistica Descriptiva del DataFrame:")
print(df_marketing.describe())
print("\nTipos de Datos:")
print(df_marketing.dtypes)

Analisis Exploratorio > DataFrame Marketing

Primeras Filas:
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  L谩mpara de mesa  Email   5.54   28/03/2024  20/04/2024

Ultimas Filas:
    id_campanha            producto  canal  costo fecha_inicio  fecha_fin
87           68   Rinc贸n de plantas     TV   5.81   17/12/2024  14/2/2025
88           33            Secadora  Email   3.80   20/12/2024   7/1/2025
89           11  Freidora el茅ctrica   RRSS   5.27   29/12/2024  21/1/2025

Dimensiones (Filas y Columnas): (90, 6)

Informacion del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB
None

Estadistica Descriptiva del DataFrame:
       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000

Tipos de Datos:
id_campanha       int64
producto         object
canal            object
costo           float64
fecha_inicio     object
fecha_fin        object
dtype: object

In [ ]:
#Muestro informacion de los datasets iniciales
print("Analisis Exploratorio > DataFrame Ventas")
print("\nPrimeras Filas:")
print(df_ventas.head(3))
print("\nUltimas Filas:")
print(df_ventas.tail(3))
print("\nDimensiones (Filas y Columnas):", df_clientes.shape)
print("\nInformacion del DataFrame:")
print(df_ventas.info())
print("\nEstadistica Descriptiva del DataFrame:")
print(df_ventas.describe())
print("\nTipos de Datos:")
print(df_ventas.dtypes)

Analisis Exploratorio > DataFrame Ventas

Primeras Filas:
   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    L谩mpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024

           categoria
0         Decoraci贸n
1         Decoraci贸n
2  Electrodom茅sticos

Ultimas Filas:
      id_venta                producto   precio  cantidad fecha_venta  \
3032      2696                  Laptop  $107.81       4.0  30/12/2024
3033      2913              Smartphone   $99.85       7.0  30/12/2024
3034      2930  Consola de videojuegos   $55.47       6.0  30/12/2024

        categoria
3032  Electr贸nica
3033  Electr贸nica
3034  Electr贸nica

Dimensiones (Filas y Columnas): (567, 5)

Informacion del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
None

Estadistica Descriptiva del DataFrame:
          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000

Tipos de Datos:
id_venta         int64
producto        object
precio          object
cantidad       float64
fecha_venta     object
categoria       object
dtype: object

### 5. Identificar valores nulos y duplicados en los dataframe. Documentar el estado inicial de los datos

In [ ]:
#Verifico valores duplicados y nulos para el DataFrame Clientes
print("DataFrame Clientes")
print("\nCantidad de Duplicados:")
#Analizo los duplicados por sus campos clave id_cliente y nombre
print(df_clientes.duplicated(subset=["id_cliente", "nombre"]).sum())
#Vuelvo a corroborar con un value_counts que no haya mas de 1 fila por clave
print("")
print(df_clientes.value_counts(subset=["id_cliente", "nombre"]))
print("\nCantidad de Nulos:")
print(df_clientes.isna().sum().to_frame("Nulos"))

DataFrame Clientes

Cantidad de Duplicados:
0

id_cliente  nombre
567         Micah Matis            1
1           Aloysia Screase        1
2           Kristina Scaplehorn    1
3           Filip Castagne         1
4           Liuka Luard            1
                                  ..
12          Griffith Lowey         1
11          Hans Strong            1
10          Andy Mendenhall        1
9           Shirl Labone           1
8           Booth Bielfelt         1
Name: count, Length: 567, dtype: int64

Cantidad de Nulos:
            Nulos
id_cliente      0
nombre          0
edad            0
ciudad          0
ingresos        0

In [ ]:
#Verifico valores duplicados y nulos para el DataFrame Marketing
print("DataFrame Marketing")
print("\nCantidad de Duplicados:")
#Analizo los duplicados por su campo clave id_campanha
print(df_marketing.duplicated(subset=["id_campanha"]).sum())
#Vuelvo a corroborar con un value_counts que no haya mas de 1 fila por clave
print("")
print(df_marketing.value_counts(subset=["id_campanha"]))
print("\nCantidad de Nulos:")
print(df_marketing.isna().sum().to_frame("Nulos"))

DataFrame Marketing

Cantidad de Duplicados:
0

id_campanha
1              1
2              1
3              1
4              1
5              1
              ..
86             1
87             1
88             1
89             1
90             1
Name: count, Length: 90, dtype: int64

Cantidad de Nulos:
              Nulos
id_campanha       0
producto          0
canal             0
costo             0
fecha_inicio      0
fecha_fin         0

In [ ]:
#Verifico valores duplicados y nulos para el DataFrame Ventas
print("DataFrame Ventas")
print("\nCantidad de Duplicados:")
#Analizo los duplicados por su campo clav id_ventas
print(df_ventas.duplicated(subset=["id_venta"]).sum())
#Vuelvo a corroborar con un value_counts que no haya mas de 1 fila por clave
print("")
print(df_ventas.value_counts(subset=["id_venta"]))
print("\nCantidad de Nulos:")
print(df_ventas.isna().sum().to_frame("Nulos"))

DataFrame Ventas

Cantidad de Duplicados:
35

id_venta
421         2
424         2
345         2
2096        2
439         2
           ..
1013        1
1014        1
1015        1
1016        1
1005        1
Name: count, Length: 3000, dtype: int64

Cantidad de Nulos:
             Nulos
id_venta         0
producto         0
precio           2
cantidad         2
fecha_venta      0
categoria        0

## Ч Etapa 2: Preprocesamiento y Limpieza de Datos
**Objetivo:** Demostrar conocimiento de las t茅cnicas de limpieza y transformaci贸n de datos.

### 1. Limpiar eliminando duplicados y caracteres no deseados. Documentar el proceso y los resultados

In [ ]:
#Guardo una copia limpia de los DataSets
#YO, a diferencia de lo visto en clase guardo en DataFrame_BKP los datos tal cual los obtuve de los CSV
#trabajo sobre los DF_CLIENTES, DF_MARKETING Y DF_VENTAS
df_clientes_bkp = df_clientes.copy()
df_marketing_bkp = df_marketing.copy()
df_ventas_bkp = df_ventas.copy()

In [ ]:
#Si algo falla vuelvo a recuperar los backups
#df_clientes = df_clientes_bkp.copy()
#df_marketing = df_marketing_bkp.copy()
#df_ventas = df_ventas_bkp.copy()

In [ ]:
#Elimino directamente las filas duplicadas completas
#De todas maneras en el analisis previo vimos que solo el dataframe Clientes posee duplicados
df_clientes.drop_duplicates(inplace=True)
df_marketing.drop_duplicates(inplace=True)
df_ventas.drop_duplicates(inplace=True)

In [ ]:
#Solo para verificar que no exista duplicados en ninguno de los dataframes luego de la limpieza
print(df_clientes.duplicated(subset=["id_cliente", "nombre"]).sum())
print(df_marketing.duplicated(subset=["id_campanha"]).sum())
print(df_ventas.duplicated(subset=["id_venta"]).sum())

0
0
0

In [ ]:
#Empiezo a normalizar la informacion
#PASO 1 Normalizar fechas en los datasets
mis_df = [df_clientes, df_marketing, df_ventas]
for df in mis_df:
  for columna in df.columns:
    if "fecha" in columna.lower():
      df[columna] = pd.to_datetime(df[columna], errors="coerce", dayfirst=True)

In [ ]:
#Para verificar que los tipos esten bien ahora
print(df_clientes.dtypes)
print(df_marketing.dtypes)
print(df_ventas.dtypes)

id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
id_campanha              int64
producto                object
canal                   object
costo                  float64
fecha_inicio    datetime64[ns]
fecha_fin       datetime64[ns]
dtype: object
id_venta                int64
producto               object
precio                 object
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object

In [ ]:
#PASO 2 Limpiar las todos los dataframe. Normalizar el texto el general
#Primero armo una lista de los dataframes a normalizar
#y a cada uno de elos los recorro solo por sus columnas del tipo "object"
#los transformo a String para trabajarlos mas facil, les quito espacios vacios
#les quito caracteres de espacios vacios, saltos de linea, tabulaciones, etc
#Finalmente normalizo todos los textos con las primeras letras en mayuscula
mis_df = [df_clientes, df_marketing, df_ventas]
for df in mis_df:
  for columna in df.select_dtypes(include="object").columns:
    df[columna] = df[columna].astype(str)
    df[columna] = df[columna].str.strip()
    df[columna] = df[columna].str.replace(r"[\u200b\t\r\n]", "", regex=True)
    df[columna] = df[columna].str.replace(r"\s+", " ", regex=True)
    df[columna] = df[columna].str.title()

In [ ]:
#Solo para corroborar que los tipos esten correctos luego de las diferentes limpiezas
print(df_clientes.dtypes)
print(df_marketing.dtypes)
print(df_ventas.dtypes)
#df_ventas.head(20)

id_cliente      int64
nombre         object
edad            int64
ciudad         object
ingresos      float64
dtype: object
id_campanha              int64
producto                object
canal                   object
costo                  float64
fecha_inicio    datetime64[ns]
fecha_fin       datetime64[ns]
dtype: object
id_venta                int64
producto               object
precio                 object
cantidad              float64
fecha_venta    datetime64[ns]
categoria              object
dtype: object

In [ ]:
#PASO 3 Normalizar los numeros
#3-1 Normalizo valores que son precios
#mis_dfprecios = [df_clientes["ingresos"], df_marketing["costo"], df_ventas["precio"]]
#for df in mis_dfprecios:
#  df = df_ventas["precio"]
#  df = df.astype(str)
#  df = df.str.replace("$", "")
#  df = df.str.replace(",", "")
#  df = df.str.strip()
#  df = pd.to_numeric(df, errors="coerce")
#print(df_ventas["precio"])
#print(df_ventas.dtype)
#print(df_ventas.head(10))
#INTENTE HACERLO TODO JUNTO CON UNA LISTA DE LAS DATAFRAME[COLUMNA] Y NO GUARDA LOS CAMBIOS NO SE
#PORQUE. ABAJO LO HAGO TODO POR SEPARADO, LAMENTABLEMENTE REPITIENDO CODIGO TODO EL TIEMPO

In [ ]:
#3-1 Normalizo valores que son precios para df_clientes["ingresos"], df_marketing["costo"], df_ventas["precio"]
#primero lo paso a String para poder manipularlo facil, luego le quito el caracter "$" en caso de existir
#luego le quito las comas de miles y finalmente le quito espacios vacios y lo convierto a numeric
df_ventas["precio"] = df_ventas["precio"].astype(str)
df_ventas["precio"] = df_ventas["precio"].str.replace("$", "")
df_ventas["precio"] = df_ventas["precio"].str.replace(",", "")
df_ventas["precio"] = df_ventas["precio"].str.strip()
df_ventas["precio"] = pd.to_numeric(df_ventas["precio"], errors="coerce")
#print(df_ventas["precio"])

df_marketing["costo"] = df_marketing["costo"].astype(str)
df_marketing["costo"] = df_marketing["costo"].str.replace("$", "")
df_marketing["costo"] = df_marketing["costo"].str.replace(",", "")
df_marketing["costo"] = df_marketing["costo"].str.strip()
df_marketing["costo"] = pd.to_numeric(df_marketing["costo"], errors="coerce")
#print(df_marketing["costo"])

df_clientes["ingresos"] = df_clientes["ingresos"].astype(str)
df_clientes["ingresos"] = df_clientes["ingresos"].str.replace("$", "")
df_clientes["ingresos"] = df_clientes["ingresos"].str.replace(",", "")
df_clientes["ingresos"] = df_clientes["ingresos"].str.strip()
df_clientes["ingresos"] = pd.to_numeric(df_clientes["ingresos"], errors="coerce")
#print(df_clientes["ingreso"])

In [ ]:
#3-2 Normalizo valores enteros
#trabajo con VENTAS["CANTIDAD"]
df_ventas["cantidad"] = pd.to_numeric(df_ventas["cantidad"], errors="coerce").astype("Int64")
#Verifico los cambios
#print(df_ventas.head(10))
#df_ventas.dtypes

In [ ]:
#ME FALTO VER QUE HACER CON LOS POQUITOS VALORES NULOS QUE HABIA EN VENTAS
#NO SE SI ME PERDI ALGO, PERDON

In [ ]:
#Etapa Final: Guardo los DataFrames "normalizados"
df_clientes.to_csv("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets/clientes_normalizado.csv", index = False)
df_marketing.to_csv("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets/marketing_normalizado.csv", index = False)
df_ventas.to_csv("/content/drive/MyDrive/Phyton Clases/MI TP/PRE-ENTREGA/datasets/ventas_normalizado.csv", index = False)

In [ ]:
#ACA CAMBIO CON LA RUTA GENERICA, YO UTILICE LA MIA PERSONALIZADA EN MI TRABAJO
#df_clientes.to_csv("/content/drive/MyDrive/datasets/clientes_normalizado.csv", index = False)
#df_marketing.to_csv("/content/drive/MyDrive/datasets/marketing_normalizado.csv", index = False)
#df_ventas.to_csv("/content/drive/MyDrive/datasets/ventas_normalizado.csv", index = False)

### 2. Aplicar filtros y transformaciones para crear una tabla de ventas que muestre los productos con alto rendimiento

In [ ]:
#Empiezo con la primera transformacion de datos. Genero el Subtotal (precio * cantidad) sobre el
#DataFrame Ventas
#df_ventas["subtotal"] = df_ventas["precio"] * df_ventas["cantidad"]
df_ventas = df_ventas.assign(subtotal = df_ventas["precio"] * df_ventas["cantidad"])
df_ventas.head(10)

,id_venta,producto,precio,cantidad,fecha_venta,categoria,subtotal
0,792,Cuadro Decorativo,69.94,5,2024-01-02,Decoraci贸n,349.7
1,811,L谩mpara De Mesa,105.10,5,2024-01-02,Decoraci贸n,525.5
2,1156,Secadora,97.96,3,2024-01-02,Electrodom茅sticos,293.88
3,1372,Heladera,114.35,8,2024-01-02,Electrodom茅sticos,914.8
4,1546,Secadora,106.21,4,2024-01-02,Electrodom茅sticos,424.84
5,1697,Horno El茅ctrico,35.35,9,2024-01-02,Electrodom茅sticos,318.15
6,1710,Plancha De Vapor,65.43,2,2024-01-02,Electrodom茅sticos,130.86
7,2959,Proyector,88.17,9,2024-01-02,Electr贸nica,793.53
8,318,Rinc贸n De Plantas,79.86,11,2024-01-03,Decoraci贸n,878.46
9,419,Candelabro,66.11,8,2024-01-03,Decoraci贸n,528.88

In [ ]:
#Creo un nuevo DataFrame tomado de df_ventas agrupado por producto y sumando los subtotales
df_rendimiento = df_ventas.groupby(by="producto", dropna=False, as_index=False)
df_rendimiento = df_rendimiento.agg(unidades = ("cantidad", "sum"), precio_promedio = ("precio", "mean"), registros = ("precio", "size"), total = ("subtotal", "sum"))
#Redondeo los decimales del precio_promedio
df_rendimiento["precio_promedio"] = df_rendimiento["precio_promedio"].round(2)
#Muestro los productos que mayor recaudacion generaron en orden descendente
df_rendimiento.sort_values(by= "total", ascending=False, ignore_index=True)

                  producto  unidades  precio_promedio  registros     total
0          L谩mpara De Mesa      1112            72.72        176  82276.38
1              Auriculares       958            76.30        143  74175.58
2               Microondas       912            79.18        135  72562.89
3                 Cafetera       765            79.05        117  59607.31
4        Cuadro Decorativo       726            74.58        100   54297.6
5               Smartphone       665            81.40        101  54132.44
6                 Secadora       696            73.34        100  52115.45
7        Jarr贸n Decorativo       672            74.53        100  51130.88
8                 Batidora       672            77.54        100   50979.2
9        Rinc贸n De Plantas       691            74.82        101  50456.45
10      Freidora El茅ctrica       630            78.25        100  50155.15
11              Aspiradora       651            77.45        100  50085.86
12         Horno El茅ctrico       633            75.69        100   49913.9
13                Lavadora       671            74.95        100  48946.44
14               Proyector       626            74.68         99   48187.0
15         Adorno De Pared       633            76.10        100  48093.49
16              Smartwatch       620            75.54        100  47836.86
17     Parlantes Bluetooth       660            73.58         99  47779.46
18               Televisor       632            73.82        100  47038.04
19       Espejo Decorativo       635            75.66        100  46783.31
20                  Laptop       617            75.33        100  46179.48
21  Consola De Videojuegos       623            76.35         99  46174.41
22   Elementos De Cer谩mica       636            71.61        100  45411.09
23          C谩mara Digital       638            72.01        100  45217.96
24        Plancha De Vapor       632            73.04        100  45196.63
25                Cortinas       610            73.65        100  44865.03
26                Alfombra       615            74.10        100  44773.06
27                  Tablet       374            71.38         58  25856.57
28                Heladera       330            74.13         48   25736.8
29              Candelabro       160            74.60         24   11128.8

In [ ]:
#Para averiguar el percentil 80 del dataframe anterior
p80 = df_rendimiento["total"].quantile(0.8, interpolation="linear")
p80 = p80.round(2)
print("El percentil 80 de todos nuestros ingresos es:", p80, "\n")

#Armo un nuevo DataFrame con el listado de los productos de Alto Rendimiento (arriba del percentil 80)
ventas_p80 = df_rendimiento.query("total >= @p80", engine="python")
ventas_p80 = ventas_p80.sort_values(by= "total", ascending=False, ignore_index=True)
print("PRODUCTOS DE ALTO RENDIMIENTO (20% que generan mayores ingresos)")
print(ventas_p80)

El percentil 80 de todos nuestros ingresos es: 52518.85

PRODUCTOS DE ALTO RENDIMIENTO (20% que generan mayores ingresos)
            producto  unidades  precio_promedio  registros     total
0    L谩mpara De Mesa      1112            72.72        176  82276.38
1        Auriculares       958            76.30        143  74175.58
2         Microondas       912            79.18        135  72562.89
3           Cafetera       765            79.05        117  59607.31
4  Cuadro Decorativo       726            74.58        100   54297.6
5         Smartphone       665            81.40        101  54132.44

### 3. Resumir las ventas por categoria de producto y analizar los ingresos generados

In [ ]:
#Realizo un nuevo DataFrame donde agrupo por categoria sobre el dataframe ventas
df_ventasxcate = df_ventas.groupby(by="categoria", dropna=False, as_index=False)
#y aplico funciones de agregacion para los parametros cantidad y subtotal
df_ventasxcate = df_ventasxcate.agg(unidades_vendidas = ("cantidad", "sum"), total_vendido = ("subtotal", "sum"))
print("TOTAL DE VENTAS POR CATEGORIAS")
print(df_ventasxcate)

NameError: name 'df_ventas' is not defined

### 4. Integraci贸n de datos, OPCIONAL

In [ ]:
# TODO: Combinar los sets de datos de ventas y marketing para obtener una visi贸n m谩s amplia de las tendencias.
# Sugerencia: usar pd.merge() especificando la clave com煤n entre ambos DataFrames.
# Documentar cualquier observaci贸n relevante sobre la combinaci贸n de datos.